
<% @titulo_del_curso = "AutoMaquillaje" %>
<% @videoyoutube = "https://www.youtube.com/embed/3inw26U-os4" %>
<% @horas_de_curso ="" %>
<% @contcurso = "
<ul>
<li>
  <strong>Organización del área de trabajo.</strong>
</li>
<li>
  <strong>Fundamentos del maquillaje.</strong>
</li>
<li>
  <strong>Etapa de preparación.</strong>
  <ul>
    <li><i>Cuidado del cutis.</i></li>
    <li><i>Correcciones del cutis.</i></li>
  </ul>
</li>
<li>
  <strong>Base de maquillaje.</strong>
  <ul>
    <li><i>Teoría del color: la piel.</i>
      <ul>
        <li><i>Tonos y subtonos</i></li>

      </ul>
    </li>

    <li><i>Morfología y visagismo.</i>
      <ul>
        <li><i>Técnica del claro-obscuro.</i></li>

      </ul>
    </li>
    <li><i>Base tradicional.</i></li>
    <li><i>Base con correcciones por arriba.</i></li>
    <li><i>Base con correcciones por abajo.</i></li>
  </ul>
</li>
<li>
  <strong>Cejas.</strong>
  <ul>
    <li><i>Teoría del color: el pelo.</i></li>
    <li><i>Mapeo de cejas.</i></li>
    <li><i>Diseño de cejas.</i></li>
  </ul>
</li>
<li>
  <strong>Ojos.</strong>
  <ul>
    <li><i>Teoría del color: los párpados y ojeras.</i></li>
    <li><i>Preparación del contorno de ojos.</i></li>
    <li><i>Resolución de casos en ojos.</i>
      <ul>
        <li><i>Técnicas de sombreado en ojos.</i></li>
        <li><i>Delineados.</i></li>
        <li><i>Pestañas.</i></li>

      </ul>

    </li>
  </ul>
</li>
<li>
  <strong>Labios.</strong>
  <ul>
    <li><i>Teoría del color: los labios.</i></li>
    <li><i>Mapeo de labios.</i></li>
    <li><i>Diseño de labios.</i></li>
  </ul>
</li>
<li>
  <strong>Acabado de maquillaje.</strong>
  <ul>
    <li><i>Bronceador.</i></li>
    <li><i>Rubor.</i></li>
    <li><i>Iluminador.</i></li>
    <li><i>Fijador de maquillaje.</i></li>
  </ul>
</li>
<li>
  <strong>Después del maquillaje.</strong>
</li>
</ul>
Técnicas de maquillaje que aprenderás: teoría básica del color para maquillar, pasos de una rutina de skincare, tres tipos de aplicación de bases de maquillaje, dos diseños de cejas, seis técnicas de sombreado en ojos, dos tipos de delineados, dos tipos de clasificación de pestañas, 4 técnicas de aplicación de pestañas, cuatro diseños de labios, larga duración en tu maquillaje para todo tipo de piel y climas.
" %>


<% @imagen="automaquillaje.png" %>










<%= render 'shared/informacioncursos' %>
