<div class="colornav pb-5">
  <div class="container colornav">
    <nav class="pd-3">
      <div class="logo">
        <%= image_tag "logo.png", :size =>"190x100"%>
      </div>
    </nav>
    <div class="row justify-content-evenly">
      <div class="navv col-2"><%= link_to "Inicio", root_path %></div>
      <div class="navv col-2"><a href="#">Academia</a></div>
      <div class="navv col-2"><a href="#">Servicios</a></div>
      <div class="navv col-2"><%= link_to "Redes Sociales", redessociales_path %></div>

      <div class="navv col-2"><a href="#">Contacto</a></div>
    </div>

  </div>
</div>
