<%# hola estoy en redes sociales

<div class="container">
  <div class="row d-flex justify-content-center">

    <%= image_tag "test.jpg", class: "extra-rounded ", alt: "first slide"%>

  <%# </div>

</div> %>




<div class="containere">
  <div class="container-info">
    <img src="https://d1fdloi71mui9q.cloudfront.net/XUtsJc7TZaIwLv8t1ZYW_BXFOYTG1Ec8pm42o" alt="" class="container-info__img">
    <div class="container-info__name-container">
      <h3 class="container-info__name">VIRIDIANA RAYA</h3>
      <i class="container-info__check fas fa-check-circle"></i>
    </div>
    <p class="container-info__desc">Diseñadora profesional de maquillaje, peinado y uñas.</p>
  </div>
  <div class="container-cards">
    <a class="container-card" target="_blank" href="https://www.youtube.com/channel/UCsR5VIZwGN9pzyBp3OqvTQw">
     <i class="container-card__icon fas fa-mobile-alt"></i>
      <p class="container-card__name">YOUTUBE</p>
    </a>
     <a class="container-card" target="_blank" href="https://www.facebook.com/ViridianaRayaOficial">
     <i class="container-card__icon fas fa-mobile-alt"></i>
      <p class="container-card__name">FACEBOOK</p>
    </a>
    <a class="container-card" target="_blank" href="https://www.instagram.com/viridiana.raya/?fbclid=IwAR2xywRAXBPLDnGZ2zX1Mhu3e-E5oH9KNBLEqeXQHMqEFuZMPeI_OPsfYJE">
      <i class="container-card__icon fab fa-facebook-f"></i>
      <p class="container-card__name">INSTAGRAM</p>
    </a>
    <a class="container-card" target="_blank" href="https://www.tiktok.com/@viridiana.raya?fbclid=IwAR3mHTnW1TkA5fkEooIYDgh4oWvu8wDlnv_wxw47PzaGrsDwUqEZs6qmoCg">
      <i class="container-card__icon fab fa-facebook-f"></i>
      <p class="container-card__name">TIKTOK</p>
    </a>
    <a class="container-card" target="_blank" href="https://twitter.com/ViridianaRaya_">
      <i class="container-card__icon fab fa-instagram"></i>
      <p class="container-card__name">TWITTER</p>
    </a>
  </div>
</div>




<style>





/* RESPONSIVE */
@media (max-width: 730px) {
  .container-card {
    max-width: 315px;
  }
}
</style>
