.parttop{
  background-color: #FF0099;

}


.precio{
  border-top: #FF0099;
}

.accordionprincipal{
  margin-top: -0px;
  width: 100%;
  background-color: #ffffff;


}
.borderaccordion{
  border: 1px solid rgba(0, 0, 0, 0.1); /* Color con transparencia */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */

  padding: 10px 5px;
}

.coloraccordion{
  background-color: #ffffff;
}
